p{
    background-color: aqua;
}
div{
    background-color: antiquewhite;
}
span{
    background-color: rgb(23, 226, 23);
}
a{
    background-color: rgb(186, 122, 247);
}
li{
    background-color: rgb(226, 84, 184);
}